<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Run Tests</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="vendor/ng-table/bundles/ng-table.css">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>
    <script src="vendor/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="vendor/angular-strap/dist/angular-strap.js"></script>
    <script src="vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="vendor/ng-table/bundles/ng-table.js"></script>
    <script src="js/runTests.js"></script>
</head>
<body>
<div class="container">
    <h4>Select the test to run</h4>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div class="col-sm-10">

            </div>
            <div class="col-sm-2">

                <button type="button" class="btn btn-sm btn-success" ng-click="runTests()">
                    <span class="glyphicon"></span> Run Tests
                </button>
            </div>
        </div>
        <table class="table table-bordered table-striped table-condensed table-hover" ng-table="testTableParams" >
            <tr ng-repeat="testClass in testClasses">
                <td data-title="'TestClass'"  sortable="'testClass.name'" class="clickable-item col-sm-3" >{{ testClass.name }}</td>
                <td data-title="'Methods'"  class="clickable-item col-sm-4" >{{ testClass.methods }}</td>

                <td class="clickable-item col-sm-1"><input type="checkbox"  ng-model="testClass.runTest" ng-change="selectTest(testClass)"> </td>
            </tr>

            <tr ng-if="!testClasses || testClasses.length === 0">
                <td colspan="7">No Tests found.  </td>
            </tr>
        </table>
        <div class="row">
            <div class="col-sm-10">

            </div>
            <div class="col-sm-2">

                <button type="button" class="btn btn-sm btn-success" ng-click="runTests()">
                    <span class="glyphicon"></span> Run Tests
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>